aiodns @ file:///opt/miniconda3/conda-bld/aiodns_1762184798270/work
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86beu757ao/croot/aiohappyeyeballs_1755769847762/work
aiohttp @ file:///Users/ec2-user/croot/aiohttp_1767813704623/work
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
alabaster @ file:///opt/miniconda3/conda-bld/alabaster_1764709089331/work
anyio @ file:///Users/ec2-user/croot/anyio_1773134411584/work
applaunchservices @ file:///Users/cbousseau/work/recipes/ci_py311/applaunchservices_1677955996025/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067824920/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854450/work
arrow @ file:///opt/miniconda3/conda-bld/arrow_1761560634960/work
astroid @ file:///opt/miniconda3/conda-bld/astroid_1759355182246/work
asttokens @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_11i8cnwuxs/croot/asttokens_1743630449718/work
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121449029/work
asyncssh @ file:///opt/miniconda3/conda-bld/asyncssh_1763120252944/work
atomicwrites==1.4.0
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356972456/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159382137/work
backports.tarfile @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_55zk1_cyd4/croot/backports.tarfile_1728485204138/work
bcrypt @ file:///opt/miniconda3/conda-bld/bcrypt_1762875119719/work
beautifulsoup4 @ file:///opt/miniconda3/conda-bld/beautifulsoup4-split_1764159482030/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///opt/miniconda3/conda-bld/black_1764168315484/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937851559/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
cattrs @ file:///opt/miniconda3/conda-bld/cattrs_1761729025199/work
certifi @ file:///Users/ec2-user/croot/certifi_1776971113711/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774705/work
chardet @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_84vw02jazy/croot/chardet_1755516287623/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744820108/work
click @ file:///opt/miniconda3/conda-bld/click_1764332241191/work
cloudpickle @ file:///opt/miniconda3/conda-bld/cloudpickle_1764930390962/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cvjf0v4ux/croot/contourpy_1732540055997/work
cookiecutter @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a0vt3ucgws/croot/cookiecutter_1751313985915/work
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1761931962722/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067937020/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341235959/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///opt/miniconda3/conda-bld/dill_1760096784330/work
docstring-to-markdown @ file:///opt/miniconda3/conda-bld/docstring-to-markdown_1758626852121/work
docutils @ file:///opt/miniconda3/conda-bld/docutils_1761746646861/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718719073/work
flake8 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_91v8ac8dvq/croot/flake8_1726157185490/work
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445183405/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014040/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931260823/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187197/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005314/work
imagesize @ file:///Users/cbousseau/work/recipes/ci_py311/imagesize_1677932611633/work
importlib_metadata @ file:///opt/miniconda3/conda-bld/importlib_metadata-suite_1763996576777/work
inflection==0.5.1
intervaltree @ file:///home/task_176795483829571/croot/intervaltree_1767954924476/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946072373/work
ipython @ file:///opt/miniconda3/conda-bld/ipython_1762789298678/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500030517/work
isort @ file:///opt/miniconda3/conda-bld/isort_1760088985627/work
jaraco.classes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97dr4u6nc1/croot/jaraco.classes_1755516335437/work
jaraco.context @ file:///Users/ec2-user/croot/jaraco.context_1769477841436/work
jaraco.functools @ file:///Users/ec2-user/croot/jaraco.functools_1768389375054/work
jedi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_38ctoinnl0/croot/jedi_1733987402850/work
jellyfish @ file:///opt/miniconda3/conda-bld/jellyfish_1764243533215/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868074826/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718553673/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955668868/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416887/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4eoc_4jij1/croot/jupyter_1737645814862/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-events @ file:///opt/miniconda3/conda-bld/jupyter_events_1765813598965/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773369838/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399009291/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1769613379882/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289362611/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1770213014676/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629825077/work
jupyterlab_widgets @ file:///Users/ec2-user/croot/jupyterlab_widgets_1771492388708/work
keyring @ file:///opt/miniconda3/conda-bld/keyring_1763637274429/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159426452/work
kmedoids @ file:///Users/runner/miniforge3/conda-bld/kmedoids_1758111777409/work
line_profiler @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_line_profiler_1771974728/work
llvmlite @ file:///Users/ec2-user/croot/llvmlite_1775469352001/work
lsprotocol @ file:///opt/miniconda3/conda-bld/lsprotocol_1759828567467/work/packages/python
markdown-it-py @ file:///Users/ec2-user/croot/markdown-it-py_1767001621841/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.8
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171588/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552166200/work
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5be80wp982/croot/mistune_1741123981908/work
more-itertools @ file:///opt/miniconda3/conda-bld/more-itertools_1761121532288/work
multidict @ file:///opt/miniconda3/conda-bld/multidict_1760566705134/work
mypy-extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_98zqpuwvro/croot/mypy_extensions_1695130957675/work
nbclient @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_67j3qubf1d/croot/nbclient_1741124021022/work
nbconvert @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e4p9a3fnm6/croot/nbconvert-meta_1741184656667/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2cv_qoc1gw/croot/nbformat_1728049423516/work
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
notebook @ file:///Users/ec2-user/croot/notebook_1770289378396/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629836827/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1778390562182/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165519324/work
numpy @ file:///Users/cbousseau/work/recipes/ci_py311/numpy_and_numpy_base_1677921358445/work
numpydoc @ file:///Users/ec2-user/croot/numpydoc_1767780802820/work
overrides @ file:///opt/miniconda3/conda-bld/overrides_1762349088711/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332181524/work/dist/pandas-2.3.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=202df5d53c23cfef62978a56a6ba62db241b6257dcda7ff087a13319aa75ac1f
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977617494/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703292/work
pathspec @ file:///opt/miniconda3/conda-bld/pathspec_1761820544600/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535935939/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///Users/ec2-user/croot/pillow_1769433342773/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356624685/work
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bei6q1cvvt/croot/pluggy_1733169621717/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733395814/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744881146/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457313942/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323688/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067067189/work
pycares @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b01dqj7707/croot/pycares_1756217969873/work
pycodestyle @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7a9zakrbgk/croot/pycodestyle_1726150308557/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496044852/work
pydocstyle @ file:///Users/ec2-user/croot/pydocstyle_1767955783453/work
pyflakes @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bbjb40dmuh/croot/pyflakes_1708962969108/work
PyGithub @ file:///opt/miniconda3/conda-bld/pygithub_1762271585625/work
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431577787/work
PyJWT @ file:///opt/miniconda3/conda-bld/pyjwt_1764332085133/work
pylint @ file:///Users/ec2-user/croot/pylint_1767955579687/work
pylint-venv @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_80rsj1kckp/croot/pylint-venv_1709837627074/work
pyls-spyder==0.4.0
PyNaCl @ file:///opt/miniconda3/conda-bld/pynacl_1758891966067/work
pyobjc-core @ file:///opt/miniconda3/conda-bld/pyobjc-core_1763629856928/work
pyobjc-framework-Cocoa @ file:///opt/miniconda3/conda-bld/pyobjc-framework-cocoa_1763651373625/work
pyobjc-framework-CoreServices @ file:///opt/miniconda3/conda-bld/pyobjc-framework-coreservices_1763975794346/work
pyobjc-framework-FSEvents @ file:///opt/miniconda3/conda-bld/pyobjc-framework-fsevents_1763720524197/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973786267/work
PyQt5==5.15.11
PyQt5_sip @ file:///opt/miniconda3/conda-bld/pyqt-split_1764009017366/work/pyqt_sip
PyQtWebEngine==5.15.7
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590078674/work
python-lsp-black @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27y6e_0rf3/croot/python-lsp-black_1744023216832/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-ruff @ file:///opt/miniconda3/conda-bld/python-lsp-ruff_1759832185657/work
python-lsp-server @ file:///opt/miniconda3/conda-bld/python-lsp-server_1759829129637/work
python-slugify @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9393c95h1l/croot/python-slugify_1756294065290/work
pytokens @ file:///opt/miniconda3/conda-bld/pytokens_1764151718214/work
pytoolconfig @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c0c43xm9fv/croot/pytoolconfig_1701728714940/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
pyuca @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_73g7x36d2k/croot/pyuca_1726251451144/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492937/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///Users/cbousseau/work/recipes/ci_py311/qstylizer_1678072198813/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9amch1jn0e/croot/qtawesome_1744810814648/work
qtconsole @ file:///opt/miniconda3/conda-bld/qtconsole_1758748642243/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017820/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536886664/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359591792/work
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rich @ file:///opt/miniconda3/conda-bld/rich_1760375481681/work
roman-numerals-py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_23k02cxtth/croot/roman-numerals-py_1744666286067/work
rope @ file:///opt/miniconda3/conda-bld/rope_1762431631480/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478996/work
rtree @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e11g4tz883/croot/rtree_1755874873623/work
ruff @ file:///Users/ec2-user/croot/ruff_1768558259539/work
scikit-learn @ file:///opt/miniconda3/conda-bld/scikit-learn_1764838070703/work
scipy @ file:///Users/ec2-user/croot/scipy_1776277442093/work/dist/scipy-1.15.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=4d524b15b5e216c2210820e3bffb3768b4e6433dcb1a79792acf1ceccf33f2d8
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170599579/work
sip @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_35c2v0osra/croot/sip_1756223384493/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
snowballstemmer @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_06xl53gun3/croot/snowballstemmer_1756710203470/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9798xzs_03/croot/soupsieve_1696347567192/work
Sphinx @ file:///opt/miniconda3/conda-bld/sphinx_1764939849476/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///opt/miniconda3/conda-bld/spyder_1763760989481/work
spyder-kernels @ file:///opt/miniconda3/conda-bld/spyder-kernels_1764762057062/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067039886/work
superqt @ file:///opt/miniconda3/conda-bld/superqt_1758274740631/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591692049/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ef9qmeucrx/croot/textdistance_1751314510723/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580622/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948936749/work
tomlkit @ file:///opt/miniconda3/conda-bld/tomlkit_1762896636836/work
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
traitlets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_500m2_1wyk/croot/traitlets_1718227071952/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
ujson @ file:///opt/miniconda3/conda-bld/ujson_1763119195981/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810410716/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502795/work
watchdog @ file:///opt/miniconda3/conda-bld/watchdog_1759775783699/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1767780856263/work
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
whatthepatch @ file:///opt/miniconda3/conda-bld/whatthepatch_1758276653248/work
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556742499/work
wurlitzer @ file:///opt/miniconda3/conda-bld/wurlitzer_1756979035953/work
yapf @ file:///opt/miniconda3/conda-bld/yapf_1761560473948/work
yarl @ file:///opt/miniconda3/conda-bld/yarl_1762250141699/work
zipp @ file:///opt/miniconda3/conda-bld/zipp_1763977856657/work
zstandard==0.25.0
